
body{
    box-shadow: 4px 4px 5px inset cyan;
    
    padding: 20px;
    background-color:skyblue;
}
h1  {
    text-align: center;
    color:darkcyan;
}
.four,.five,.six,.seven{
    padding: 10px;
}
#one,#two,#three,#four{
    padding: 5px;
}

