
body{
    box-shadow: 4px 4px 5px inset cadetblue;
    
    padding: 50px;
    margin: 50px;
    background-color:skyblue;
}
h1  {
    text-align: center;
    color:darkcyan;
}
.four,.five,.six,.seven{
    padding: 10px;
}
#one,#two,#three,#four{
    padding: 5px;
}
input {
    box-shadow: 2px 2px 5px inset cadetblue;
}
strong {
    color: cadetblue;
    font-size: 15px;
}
button {
    box-shadow:2px 2px 5px inset cadetblue;
    color:darkcyan; 
}
#demo {
    color:darkcyan
    
}
placeholder {
    color:cyan;
}
#h,#f{
    padding:60px;
}
#f {
    color:whitesmoke;
}
footer {
    background-color:darkcyan;
    background-position: cover;
}

